
body{
  background-image: url("Fotos/Olas.jpeg");
  width: 900px;
  height: 1200px;
  padding:50px;
}

header {
  color: white;
  background-color:rgba(0, 11, 88, 0.63);
  border-style: solid;
  height: 250px;
  width: 870px;
}

#info {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 30px;
background-color:rgba(0, 40, 247, 0.61);
border-style: solid;
height: 700px;
width: 400px;
float: left;
}
#datos {
  background-color: rgba(76, 83, 250, 0.6);
  border-style: solid;
  height: 700px;
  width: 463px;
  float: left;

}

#contacto {
  background-color: rgba(103, 150, 255, 0.68);
  border-style: solid;
  height: 700px;
  width: 400px;
  float: left;

}
footer{
  color: white;
  border-style: solid;
  float: left;
}

#table1{
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;

}

td, th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5
  px;
}

tr:nth-child(even){
  background-color: #dddddd;
}

.versiculos{
  text-align: center;
  width: 290px;
  height: 150px;
  color:white;
  background-color: rgba(88, 0, 215, 0.75);
  border-style: solid;
  border-spacing:  10px ;
  clear: right;
  float: left;

}
